.App {
  background: var(--color-bg-default);
  box-sizing: border-box;
  color: var(--color-typo-primary);
  height: 100%;
}
#root, body, html {
  margin: 0;
  padding: 0;
}
.App, #root ,body {
  height: 100%;
  min-height: 100vh;
}
