.menu {
  border-right: 1px solid var(--brendColor);
  position: relative;
  box-shadow: 2px 0px 5px 0 var(--brendColor);
  height: 100vh;
  min-width: 250px;
  max-width: 350px;
  padding: 10px 0 0 10px;
}

.item {
  padding: 10px 20px;
  border-bottom: 1px outset var(--brendColor);
  position: relative;
  cursor: pointer;
}
.item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--brendColor);
  opacity: 0.2;
  z-index: -1;
  transition: width 0.5s; /* Анимация изменения ширины */
}

.item:hover::after {
  width: 100%; /* При наведении заливка идет до конца справа */
}
.item[data-active="true"] {
 opacity: 0.5;
}
