:root {
  --background: #38B2AC;
  --sectionBacground: #FFFFFF;
  --color: #2D3748;
  --border: #2D3748;
  --borderActive: #38B2AC;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-size: 16px;
}
 * {
  box-sizing: border-box;
 }
