	:root {
		--background: black;
		--color: white;
		--brendColor: #4CAF50;
		--transition: all 0.5s ease-in-out;
		--color-error-text: red
	}

	.lite {
		--background: white;
		--color: black;
	}
	.dark {
		--background: black;
		--color: white;
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	body {
		font-size: 18pt;
		background: var(--background);
		color: var(--color);
		width: 100vw;
		min-height: 100vh;
		transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
}
