.card {
  min-width: 300px;
  width: 40vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
}

.title, .pretitle {
  text-align: center;
}

.button {
  position: relative;
  right: 0;
  left: 100%;
  transform: translate(-100%, 0);
}
